<html ng-app="pokeApp">
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" type="text/css" href="css/stylez.css">
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="pokeController">
  <div id="main">
    <h1>ANGULAR POKEDEXXX</h1>

    <div class="poke-card">
      <img class="poke-img" src="{{currentPokeImg}}">
      <div class="type" ng-repeat="type in currentPokemon.types">
        {{ type.name }}
      </div>
    </div>
    <div id="form-div">
      <form ng-submit="submitUserGuess()">
        <input type="text" ng-model="userGuess" name="pokeGuess" placeholder="What's this Poke's name? Case sensitive, sorry."/>
        <button type="submit" id="guessSubmit">Guess</button>
      </form>
    </div>

    <div ng-show="caughtOne" class="poke-card results">
      <h3>This is {{caughtPokemon.name}}</h3>
      <img class="pokie-img" src="{{caughtPokeImg}}">
      <div class="feedback">
        You guessed {{feedback}}<br>
        Your score: {{correctCount}}
      </div>
    </div>

  <div class="footer"><a href="https://github.com/katherineimogene/pokeangular" target="_blank">View on Github</a></div>

  </div>

</body>
</html>
